h3{
    margin-top: 30px;
    width: "100%";
}
h2{

}

.search{
    text-align: center;
    padding: 1rem;

  }

 .search-input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    width: "30%";
    border: 1px solid rgba(31, 27, 27, 0.8) ;
    background:  rgba(255, 255, 255, 0.1) ;

  }

  .page-container {
    text-align: center;
    padding: 1rem;
  }
  
  div.center-container {
    height: "100%";
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: auto;
    width: 40%;
  }
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

 .table-responsive{
    display: none;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
 }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
table td {
  padding: .625em;
  text-align: center;
}

.back-button{
    font-size: 16px;
}

.search-button{
    font-size: 16px;
    width: "50%";
}


@media screen and (max-width: 600px) {
   
    table {
    display: none;
    }

    .table-responsive{
        display: table-cell;
        text-align: center;
    }
    table th,
    table td {
        text-align: center;
      }
  
      .back-button{
        font-size: 12px;
    }

    div.center-container {
        height: "100%";
        text-align: center;
        display: block;
        margin-top: 200px;
        margin-bottom: auto;
      }

      div.center-container {
        height: "100%";
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: auto;
        width: 40%;
      }
    
      .search-input {
        padding: .7rem 1.5rem;
        font-size: 1.2rem;
        width: "10%";
        align-items: flex-start;
        border: 1px solid rgba(31, 27, 27, 0.8) ;
        background:  rgba(255, 255, 255, 0.1) ;
    
      }
    .search{ 
        width:"100%";
        align-items: flex-start;
  
    }
    
  
    
  }